@font-face {
    font-family: 'caveat';
    src: url('./font/Caveat-VariableFont_wght.ttf') format('truetype');
}
html{
    scroll-behavior: smooth;
}
:root {
    --theme-color: #0A1428;
    --text-color: whitesmoke;
    --head-footer-color: #152b59;
    --text-section-color: #0c0180;
} 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
body{
    background-color: var(--theme-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif; 
    padding-bottom: 10rem;
}

/* Header styles */
.header{
    background-color:var(--head-footer-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
}
.logo{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.header h1{
    font-size: 2.8rem;
    font-family: 'caveat', sans-serif, cursive;
    color: rgb(0, 230, 255);
}
.hamburger-menu {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: rgb(170, 220, 255);
  }
.nav-links{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
.nav-links a{
    text-decoration: none;
    color: rgb(170, 220, 255);
}
.nav-links a:hover{
    background-color: rgba(0, 230, 255, 0.5);
    border-radius: 5px;
    border-bottom: rgb(170, 220, 255) 2px solid;
    transition: background-color 0.5s ease;
}

/* Hero section styles */
.text{
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;

}
.hero-slideShow{
    flex-direction: column;
    height: auto;
    display: flex;
    align-items: center;
    color: var(--text-color);
}
.hero-slideShow img{
    height: auto;
    border-radius: 10px;
}
.hero-slideShow h1{
    font-family: 'caveat', sans-serif, cursive;
    font-size: 5rem;
    margin-top: 2rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}
.hero-slideShow p{
    font-size: 2rem;
    margin-top: 1rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

 /*main styles*/
 .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
main section:hover{
    outline: 3.5px solid #00b4ff;           
    box-shadow: 0 0 10px #00b4ff;
    transition: all 0.3s ease-in-out;        
}
/* Animação de Destaque das seções, achei que ficou legal então vou deixar comentado aqui.
@keyframes pulse {
    0%   { background-color: #fff; }
    100% { background-color: transparent;        }
  } 
  .flash {
    animation: pulse 1s ease-out;
  }
*/
.cards-article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5rem;
    width: 80%;
}
.card{
    background-color: rgb(139, 155, 171);
    color: var(--text-section-color);
    margin: .75rem 0; /* 0.75rem = 12px */
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    border-radius: 10px;
}
.card img{
    width: 200px;
}
.card h2{
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}
.card p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}


/* Footer styles */
.footer{
    background-color: var(--head-footer-color) ;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.footer-nav a{
    text-decoration: none;
    color: #fff;
}
.footer-nav a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 1000px) {
    /* Header styles */
    .header{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    .nav-links{
        flex-direction: column;
        position: absolute;
        top: 100%;           
        right: 0;
        background: var(--head-footer-color);
        flex-direction: column;
        width: 200px;
        padding: 1rem;
        display: none;  
        gap: 1rem;
    }
    .nav-links.open {      
        display: flex;
    }
    /* Hamburger menu styles */
    .hamburger-menu{
        display: block;
        padding: 0.3rem;
    }
    .hamburger-menu:hover{
        transform: scale(1.1);
        background: rgba(0, 0, 0, 0.4);;
        border-radius: 4px;
        transition: background-color 0.5s ease, transform 0.3s ease;
    }
    .hamburger-menu .icon-close {
         display: none; 
    }
    .hamburger-menu.active .icon-close { 
        display: inline; 
    }
    .hamburger-menu.active .icon-menu  { 
        display: none;  
    }


    /* Cards section styles */
    .cards-article{
        width: 80%;
    }
    .card{
        flex-direction: column;
        align-items: center;
    }
}