@font-face {
    font-family: 'caveat';
    src: url('./font/Caveat-VariableFont_wght.ttf') format('truetype');
}
    
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
body{
    background-color: #0A1428;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif; 
    padding-bottom: 10rem;
}

/* Header styles */
.header{
    background-color: #152b59;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
}
.header h1{
    font-size: 2.8rem;
    font-family: 'caveat', sans-serif, cursive;
    color: rgb(0, 230, 255);
}
.nav-links{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
.nav-links a{
    text-decoration: none;
    color: rgb(170, 220, 255)
}

/* Hero section styles */
.text{
    text-align: center;
    margin-bottom: 1rem;
}
.hero{
    flex-direction: column;
    height: auto;
    display: flex;
    align-items: center;
    color: white;
}
.hero h1{
    font-family: 'caveat', sans-serif, cursive;
    font-size: 5rem;
    margin-top: 2rem;
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}
.hero p{
    font-size: 2rem;
    margin-top: 1rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

 /*main styles*/
 .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.cards-article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5rem;
    width: 80%;
}
.card{
    background-color: rgb(139, 155, 171);
    color: #0c0180;
    margin: .75rem 0; /* 0.75rem = 12px */
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    border-radius: 10px;
}
.card img{
    width: 200px;
}
.card h2{
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}
.card p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}


/* Footer styles */
.footer{
    background-color: #152b59;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
